---
# Development tools setup (tmux, neovim)
- name: Get tmux plugin manager
  ansible.builtin.git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "{{ ansible_env.HOME }}/.tmux/plugins/tpm"
  tags:
    - tmux
    - git

- name: Get Neovim Config
  ansible.builtin.git:
    repo: "https://github.com/DeanGaffney/neovim-config.git"
    dest: "{{ ansible_env.HOME }}/.config/nvim"
  tags:
    - neovim
    - git

- name: Pin Neovim version
  ansible.builtin.shell: brew pin neovim
  tags:
    - neovim
